@import "../../../../styles/variables.scss";

.window {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    max-width: 640px;
    margin: 50px auto;
    box-shadow: -1px 5px 15px rgba($color: #000000, $alpha: 0.2);
    background-color: #fff;

    &.wide {
        max-width: 900px;
    }

    &:not(.wide) {
        .form-controls {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-control {
            width: 80%;
        }
    }
}
.form {
    flex: 1;

    &-container {
        position: relative;
        flex: 2;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 0px 12px 0px rgba(0, 0, 0, 0.2);
    }

    &-heading {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px 10px;
        background-color: $color_primary;
        text-align: center;
        font-family: $font_primary;

        small {
            display: block;
        }
    }

    &-controls-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    &-control.password {
        i {
            top: 34px;
        }
        &.valid i {
            right: 34px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-around;
        max-width: 300px;
        margin: auto;
        padding: 10px 20px 20px;

        button {
            margin: 0px 15px;
        }
    }

    &-footer {
        width: 100%;
        padding: 8px 0px 4px;
        font-size: 0.9rem;
        text-align: center;

        a:hover {
            text-decoration: underline;
        }
    }
}
.avatar-buttons {
    display: flex;
    justify-content: center;

    button {
        width: 24px;
        height: 24px;
        margin: 6px;
        border: none;
        background-color: transparent;
        text-align: center;

        &:disabled {
            color: #999;
        }

        &:focus {
            outline: 2px groove #000;
        }

        &:not(:disabled) {
            color: #555;
            cursor: pointer;

            &.danger {
                color: $color_danger;
            }

            &.success {
                color: $color_secondary;
            }
        }

        i {
            width: 24px;
            font-size: 24px;
        }
    }
}
.avatar-control {
    margin: auto;
}
.step {
    &-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;

        &.closed {
            display: none;
        }

        &-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.5;
            font-size: 18px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        &-footer {
            flex: 1;
            min-height: 16px;
            background-color: #eee;

            &.last-step {
                background-color: #bbb;
            }
        }
    }

    &-item {
        width: 100%;

        &-title {
            position: relative;
            padding: 6px 12px;
            font-size: 0.9rem;
            text-transform: uppercase;
            background-color: #eee;
            cursor: pointer;

            &::after,
            &::before {
                position: absolute;
                content: "";
                top: calc(100% - 1px);
                left: calc(50% - 7px);
                border: 7px solid transparent;
                border-top-color: #eee;
                z-index: 1;
            }

            &::before {
                top: 100%;
                left: calc(50% - 8px);
                border: 8px solid transparent;
                border-top-color: #fff;
            }

            &.active {
                background-color: #bbb;

                &::after {
                    border-top-color: #bbb;
                }
            }

            &.done {
                background-color: $color_secondary;

                &::after {
                    border-top-color: $color_secondary;
                }
            }
        }

        &-description {
            overflow: hidden;
            padding: 12px 12px;
            font-size: 0.8rem;
            transition: 0.2s;
        }

        &.closed {
            .step-item-description {
                height: 1px;
                padding: 0px 12px;
            }
        }
    }
}
// Yes, copy-pasted and thats it
// It is an example how useful variables can be
// I will leave it, since it's a pet project
$brand-success: #5cb85c;
$loader-size: 1.2em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
    margin-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size + 0.06em;
    height: $loader-size;
}
.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;

    .checkmark {
        display: block;
    }
}
.checkmark {
    display: none;

    &.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: scaleX(-1) rotate(135deg);
    }

    &:after {
        opacity: 1;
        height: $check-height + 0.36em;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid $check-color;
        border-top: $check-thickness solid $check-color;
        content: "";
        left: 0.2em;
        top: 0.5em;
        position: absolute;
    }
}
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height + 0.36em;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height + 0.36em;
        width: $check-width;
        opacity: 1;
    }
}
@media screen and (min-width: 1000px) {
    .step-container {
        flex: none;
        width: 240px;
    }
}
