<form
    *ngIf="!newUserRegistered; else addProfileData"
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmitSigningUp()"
>
    <h2>Registration</h2>
    <div
        class="form-control"
        [ngClass]="{invalid: signUpForm.get('username').touched && signUpForm.get('username').invalid}"
    >
        <label for="username">Username</label>
        <input
            id="username"
            type="text"
            maxlength="30"
            autocomplete="off"
            formControlName="username"
        >
        <div
            *ngIf="signUpForm.get('username').touched && signUpForm.get('username').invalid"
            class="validation"
        >
            <small *ngIf="signUpForm.get('username').errors.required">
                Field is required
            </small>
            <small *ngIf="signUpForm.get('username').errors.pattern.actualValue">
                Username must contain only latin letters, numbers, periods, and underscores
            </small>
        </div>
    </div>

    <div
        class="form-control"
        [ngClass]="{invalid: signUpForm.get('email').touched && signUpForm.get('email').invalid}"
    >
        <label for="email">Email</label>
        <input
            id="email"
            type="email"
            maxlength="30"
            formControlName="email"
        >
        <div
            *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid"
            class="validation"
        >
            <small *ngIf="signUpForm.get('email').errors.required">
                Field is required
            </small>
            <small *ngIf="signUpForm.get('email').errors.isEmail">
                Invalid email
            </small>
        </div>
    </div>

    <div
        class="form-control"
        [ngClass]="{invalid: signUpForm.get('password').touched && signUpForm.get('password').invalid}"
    >
        <label for="password">Password</label>
        <input
            id="password"
            type="{{showPasswordValue ? 'text' : 'password'}}"
            maxlength="30"
            formControlName="password"
        >
        <i (click)="onShowHidePassword('showPasswordValue')">
            {{showPasswordValue ? 'hide' : 'show'}}
        </i>
        <div
            *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid"
            class="validation"
        >
            <small *ngIf="signUpForm.get('password').errors.required">
                Field is required
            </small>
            <small *ngIf="signUpForm.get('password').errors.minlength">
                {{onMinLengthError('password')}}
            </small>
        </div>
    </div>

    <div
        class="form-control"
        [ngClass]="{invalid: signUpForm.get('confirmPass').touched && signUpForm.get('confirmPass').invalid}"
    >
        <label for="confirmPass">Repeat password</label>
        <input
            id="confirmPass"
            type="{{showConfirmPassValue ? 'text' : 'password'}}"
            maxlength="30"
            formControlName="confirmPass"
        >
        <i (click)="onShowHidePassword('showConfirmPassValue')">
            {{showConfirmPassValue ? 'hide' : 'show'}}
        </i>
        <div
            *ngIf="signUpForm.get('confirmPass').touched && signUpForm.get('confirmPass').invalid"
            class="validation"
        >
            <small *ngIf="signUpForm.get('confirmPass').errors.required">
                Field is required
            </small>
            <small *ngIf="signUpForm.get('confirmPass').errors.minlength">
                {{onMinLengthError('confirmPass')}}
            </small>
        </div>
    </div>

    <div *ngIf="signUpForm.errors" class="validation">
        <small *ngIf="signUpForm.errors.mismatch">
            Passwords do not match
        </small>
    </div>

    <button
        type="submit"
        [disabled]="signUpForm.invalid || submitted"
    >Submit</button>
</form>
<ng-template #addProfileData>
    <form [formGroup]="profileDataForm">
        <app-img-picker></app-img-picker>
        <div class="form-control">
            <label for="name">First name</label>
            <input
                id="name"
                type="text"
                maxlength="30"
                autocomplete="off"
                formControlName="name"
            >
        </div>
        <div class="form-control">
            <label for="surname">Last name (surname)</label>
            <input
                id="surname"
                type="text"
                maxlength="30"
                autocomplete="off"
                formControlName="surname"
            >
        </div>
        <div class="buttons">
            <button
                type="button"
                (click)="onSkipProfileData()"
            >Skip</button>
            <button
                type="button"
                [disabled]="submitted"
                (click)="onSubmitProfileData()"
            >Save</button>
        </div>
    </form>
</ng-template>
