.tools {
    width: 100%;
    padding: 35px 15px 55px;
    background-color: #f2f200;

    h1 {
        margin-bottom: 45px;
        text-align: center;
        font-size: 1.8rem;
    }
}
.search {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 15px auto 45px;

    select,
    input,
    button {
        padding: 6px;
        border-radius: 0;
        border: 1px solid #999;
        font-size: 0.9rem;
    }

    .category {
        width: 33%;
        border-right: none;
    }

    .value {
        width: 54%;
        border-right: none;
        border-left: none;
    }

    button {
        width: 13%;
        background-color: #fff;
    }
}
