<form [formGroup]="form" (ngSubmit)="search()" class="search">
    <select class="category" formControlName="category">
        <option value="amountCities">Amount of cities</option>
        <option value="amountCountries">Amount of countries</option>
        <option value="people">Amount of people</option>
        <option value="author">Author</option>
        <option value="budget">Budget</option>
        <option value="city">City</option>
        <option value="continent">Continent</option>
        <option value="country">Country</option>
        <option value="date">Date of creation</option>
        <option value="duration">Trip duration</option>
    </select>
    <input
        *ngIf="searchType === 'author'"
        id="author"
        class="value"
        type="text"
        maxlength="20"
        formControlName="author"
    >
    <input
        *ngIf="searchType === 'city'"
        id="city"
        class="value"
        type="text"
        maxlength="24"
        formControlName="city"
    >
    <select *ngIf="searchType === 'continent'" id="continent" class="value" formControlName="continent">
        <option value="">Does not metter</option>
        <option value="Africa">Africa</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Asia">Asia</option>
        <option value="Australia">Australia</option>
        <option value="Europe">Europe</option>
        <option value="North America">North America</option>
        <option value="South America">South America</option>
    </select>
    <select *ngIf="searchType === 'country'" id="country" class="value" formControlName="country">
        <option value="">Does not metter</option>
        <option
            *ngFor="let country of countries"
            [value]="country"
        >{{country}}</option>
    </select>
    <select *ngIf="searchType === 'duration'" id="duration" class="value" formControlName="duration">
        <option value="">Does not metter</option>
        <option value="1">1 day</option>
        <option value="2-3">2-3 days</option>
        <option value="4-5">4-5 days</option>
        <option value="6-8">6-8 days</option>
        <option value="9-11">9-11 days</option>
        <option value="12-14">12-14 days</option>
        <option value="15+">15 or more</option>
    </select>
    <select
        *ngIf="searchType === 'amountCountries'"
        id="amountCountries"
        class="value"
        formControlName="amountCountries"
    >
        <option value="">Does not metter</option>
        <option value="1">1 country</option>
        <option value="2">2 country</option>
        <option value="3">3 country</option>
        <option value="4-5">4-5 country</option>
        <option value="6-7">6-7 country</option>
        <option value="8-10">8-10 country</option>
        <option value="10+">11 or more</option>
    </select>
    <select
        *ngIf="searchType === 'amountCities'"
        id="amountCities"
        class="value"
        formControlName="amountCities"
    >
        <option value="">Does not metter</option>
        <option value="1">1 city</option>
        <option value="2">2 city</option>
        <option value="3">3 city</option>
        <option value="4-5">4-5 city</option>
        <option value="6-7">6-7 city</option>
        <option value="8-10">8-10 city</option>
        <option value="10+">11 or more</option>
    </select>
    <select *ngIf="searchType === 'people'" id="people" class="value" formControlName="people">
        <option value="">Does not metter</option>
        <option value="1">1 person</option>
        <option value="2">2 people</option>
        <option value="3">3 people</option>
        <option value="4">4 people</option>
        <option value="5">5 people</option>
        <option value="6-8">6-8 people</option>
        <option value="8+">8 or more</option>
    </select>
    <select *ngIf="searchType === 'budget'" id="budget" class="value" formControlName="budget">
        <option value="">Does not metter</option>
        <option value="100">Up to 100$</option>
        <option value="300">Up to 300$</option>
        <option value="700">Up to 700$</option>
        <option value="1500">Up to 1500$</option>
        <option value="2000">Up to 2000$</option>
        <option value="4000">Up to 4000$</option>
        <option value="4000+">4001$ or more</option>
    </select>
    <button type="submit" [disabled]="form.invalid || submitted">O.</button>
</form>
<section>
    <app-loader *ngIf="loading; else ready"></app-loader>
    <ng-template #ready>
        <app-plan-card
            *ngFor="let post of publications"
            [plan]="post"
        ></app-plan-card>
    </ng-template>
</section>

