<div class="select" [class.opened]="isOpened">
    <div class="select-backdrop" (click)="closeSelect()"></div>
    <div class="select-input" (click)="openSelect()">
        <span>{{ selectedOption.title }}</span>
        <i class="material-icons md-18">keyboard_arrow_down</i>
    </div>
    <ul class="select-options">
        <li *ngIf="options.options.length > 15">
            <input
                type="text"
                class="select-option-input"
                [(ngModel)]="searchInputValue"
            />
        </li>
        <li
            *ngFor="let option of options.options | filter: searchInputValue"
            class="select-option"
            [class.active]="option.value === selectedOption.value"
            (click)="selectItem(option)"
        >
            {{ option.title }}
        </li>
    </ul>
</div>
