<div class="profile-data">
    <div *ngIf="user.avatar; else defaultAvatar" class="image-wrapper">
        <img [src]="user.avatar" alt="User avatar">
    </div>
    <ng-template #defaultAvatar>
        <div class="image-wrapper">
            <img src="../../../../assets/avatar.jpg" alt="User avatar">
        </div>
    </ng-template>
    <div class="information">
        <h4>{{user.username}}</h4>
        <p *ngIf="user.name">{{user.name}}</p>
        <p *ngIf="user.website">{{user.website}}</p>
        <p *ngIf="user.bio">{{user.bio}}</p>
        <div class="statistics">
            <div class="block">
                <strong>4</strong>
                <span>publications</span>
            </div>
            <div class="block">
                <strong>53</strong>
                <span>subscribers</span>
            </div>
            <div class="block">
                <strong>57</strong>
                <span>subscribtions</span>
            </div>
        </div>
    </div>
</div>
<div class="publications" *ngIf="publications.length">
    <app-plan-card
        *ngFor="let post of publications"
        [plan]="post"
        [isAuthor]="true"
    ></app-plan-card>
</div>
