.profile-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    max-width: 280px;
    max-height: 280px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.block {
    display: inline-block;
    width: 70px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    transition: 0.2s;
    cursor: default;

    &:hover {
        width: 90px;

        span { overflow: visible;}
    }

    span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.publications {
    display: flex;
    flex-wrap: wrap;
}
