@import "../../../../styles/variables.scss";

.alert {
    z-index: 25;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 94%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fafafa;
    font-size: 1rem;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation-name: slide-in-top, slide-out-top;
    animation-duration: 0.7s, 0.7s;
    animation-delay: 0ms, 3000ms;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94),
        cubic-bezier(0.55, 0.085, 0.68, 0.53);

    i {
        font-size: 36px;
        margin-right: 1rem;

        &.success {
            color: $color_success;
        }

        &.warning {
            color: $color_warning;
        }

        &.danger {
            color: $color_danger;
        }
    }
}
@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}
