nav {
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;

    &.active {
        a { color: #880000; }
    }
}

main {
    width: 94%;
    max-width: 800px;
    margin: auto;
}
