@import "./variables.scss";

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~@ctrl/ngx-emoji-mart/picker";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_secondary;
}

ul {
    list-style: none;
}

input,
textarea {
    padding: 6px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.2;
    outline: none;

    &:focus {
        border-color: #000;
    }
}

textarea {
    min-height: 80px;
    max-height: 120px;
    resize: vertical;
}

.app-cropper {
    &.rounded {
        .cropper-crop-box,
        .cropper-view-box {
            border-radius: 50%;
        }
    }
}

.btn {
    padding: 4px 10px;
    border: 1px solid $color_gray_d;
    background-color: transparent;
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color_gray_d;
    cursor: pointer;
    transition: 0.2s;

    &.danger {
        color: $color_danger;
        border-color: $color_danger;
    }
    &.secondary {
        color: $color_secondary;
        border-color: $color_secondary;
    }
    &.success {
        color: $color_success;
        border-color: $color_success;
    }
    &.warning {
        color: $color_warning;
        border-color: $color_warning;
    }

    &:hover,
    &:disabled {
        opacity: 0.7;
    }
}

.card-list {
    .publication-card {
        width: 320px;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.file-input {
    display: none;
}

.form-control {
    input,
    label,
    textarea {
        display: block;
        width: 100%;
    }

    &.invalid {
        label,
        small {
            color: $color_danger;
        }
        input {
            border-color: $color_danger;
        }
    }

    &.password {
        position: relative;

        input {
            padding-right: 32px;
        }

        i {
            position: absolute;
            top: 32px;
            right: 4px;
            z-index: 1;
        }
    }
}

.publication-cards-section {
    display: flex;
    width: 100%;
    max-width: $publication_card_section_width;
    padding: 0 2%;
    margin: auto;
}

.user-avatar {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.quill {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.ql-editor {
    font-size: 1rem;
    font-family: $font_primary;
}

@media screen and (min-width: 1641px) {
    .publication-card-wrapper {
        width: 20%;
    }
}
@media screen and (max-width: 1640px) {
    .publication-card-wrapper {
        width: 25%;
    }
}
@media screen and (max-width: 1150px) {
    .publication-card-wrapper {
        width: 33.3%;
    }
}
@media screen and (min-width: 901px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
@media screen and (max-width: 900px) {
    .publication-cards-section {
        padding: 0 4%;
    }
    .publication-card-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 750px) {
    .publication-cards-section {
        padding: 0 2%;
    }
}
@media screen and (max-width: 600px) {
    .publication-cards-section {
        padding: 0 8%;
    }
    .publication-card-wrapper {
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 460px) {
    .publication-cards-section {
        padding: 0 1%;
    }
}
