@import "./variables.scss";

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~@ctrl/ngx-emoji-mart/picker";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_secondary;
}

ul {
    list-style: none;
}

input,
textarea {
    padding: 6px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: $font_primary;
    font-size: 1rem;
    line-height: 1.2;
    outline: none;

    &:focus {
        border-color: #000;
    }
}

textarea {
    min-height: 80px;
    max-height: 120px;
    resize: vertical;
}

.app-cropper {
    &.rounded {
        .cropper-crop-box,
        .cropper-view-box {
            border-radius: 50%;
        }
    }
}

.btn {
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;

    &-outlined {
        padding: 4px 10px;

        &.btn-neutral {
            color: $color_gray_d;
            border: 1px solid $color_gray_d;
        }

        &.btn-danger {
            color: $color_danger;
            border-color: $color_danger;
        }
        &.btn-secondary {
            color: $color_secondary;
            border-color: $color_secondary;
        }
        &.btn-success {
            color: $color_success;
            border-color: $color_success;
        }
        &.btn-warning {
            color: $color_warning;
            border-color: $color_warning;
        }

        &:hover,
        &:disabled {
            opacity: 0.7;
        }
    }

    &-filled {
        min-width: 120px;
        padding: 10px 18px;
        background-color: $color_primary;
        box-shadow: 0px 4px 6px rgba($color: #000000, $alpha: 0.2);

        &:active {
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
            outline: none;
        }
        &:disabled {
            opacity: 0.7;
            cursor: default;
        }

        &:not(:disabled) {
            &:hover {
                box-shadow: none;
            }
            &.btn-primary {
                background-color: $color_primary;
            }
            &.btn-secondary {
                background-color: $color_secondary;
            }
            &.btn-tertiary {
                background-color: $color_tertiary;
            }
            &.btn-neutral {
                background-color: $color_gray_lll;
            }
            &.btn-danger {
                background-color: $color_danger;
                color: #fff;
            }
            &.btn-success {
                background-color: $color_success;
            }
            &.btn-warning {
                background-color: $color_warning;
            }
        }
    }
}

.card-list {
    .publication-card {
        width: 320px;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.file-input {
    display: none;
}
.form-controls {
    flex: 1;
    min-width: 300px;
    min-height: 120px;
    padding: 20px;

    &-avatar {
        width: 240px;
        padding: 20px 0;
    }

    .form-control:first-of-type label {
        margin-top: 0;
    }
}
.form-control {
    margin: auto;

    input,
    label,
    textarea {
        display: block;
        width: 100%;
    }

    input,
    textarea {
        flex: 1;
        border-radius: 4px;
    }

    label {
        margin-top: 6px;
        font-size: 0.9rem;
    }

    &.invalid {
        input {
            border-color: $color_danger;
        }
        label,
        small {
            color: $color_danger;
        }
    }

    &.password {
        position: relative;

        input {
            padding-right: 32px;
        }

        i {
            position: absolute;
            top: 28px;
            right: 6px;
            color: $color_gray_d;
            z-index: 1;
            cursor: pointer;
        }

        &.invalid i {
            color: $color_danger;
        }
    }

    .hint.characters-left {
        display: inline-block;
        width: 100%;
        text-align: right;
    }

    .input-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .validation {
        margin-top: 2px;
        line-height: 1;
    }
}

.publication-cards-section {
    display: flex;
    width: 100%;
    max-width: $publication_card_section_width;
    padding: 0 2%;
    margin: auto;
}

.user-avatar {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.quill {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.ql-editor {
    font-size: 1rem;
    font-family: $font_primary;
}

@media screen and (min-width: 1641px) {
    .publication-card-wrapper {
        width: 20%;
    }
}
@media screen and (max-width: 1640px) {
    .publication-card-wrapper {
        width: 25%;
    }
}
@media screen and (max-width: 1150px) {
    .publication-card-wrapper {
        width: 33.3%;
    }
}
@media screen and (min-width: 901px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
@media screen and (max-width: 900px) {
    .publication-cards-section {
        padding: 0 4%;
    }
    .publication-card-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 750px) {
    .publication-cards-section {
        padding: 0 2%;
    }
}
@media screen and (max-width: 600px) {
    .publication-cards-section {
        padding: 0 8%;
    }
    .publication-card-wrapper {
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 460px) {
    .publication-cards-section {
        padding: 0 1%;
    }
}
