@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Roboto");

$color_primary: #f2f200;
$color_secondary: #9bde4f;
$color_tertiary: #00d2cf;

$color_danger: #aa0000;
// $color_secondary: #0055cc;
$color_success: #14ff14;
$color_warning: #fffb00;
$color_gray_dd: #333333;
$color_gray_d: #555555;
$color_gray: #787878;
$color_gray_l: #aaaaaa;
$color_gray_ll: #cccccc;
$color_gray_lll: #eeeeee;

$font_primary: "Roboto", "Muli", sans-serif;
$font_secondary: "Muli", "Roboto", sans-serif;

$publication_card_section_width: 1950px;
