<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/"><span>Travel Plans</span></a>
            </li>
            <li *ngIf="isLoggedIn" routerLinkActive="active">
                <a routerLink="/subscriptions">Subscriptions</a>
            </li>
            <li *ngIf="isLoggedIn" routerLinkActive="active">
                <a routerLink="/saved">Saved</a>
            </li>
        </ul>
        <div>
            <a *ngIf="isLoggedIn; else logIn" routerLink="/profile">Profile</a>
            <ng-template #logIn>
                <a routerLink="/authentication">Log in</a>
            </ng-template>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
