<div *ngIf="user" class="page">
    <app-avatar-section [avatar]="user.avatar"></app-avatar-section>
    <hr />
    <app-profile-section
        [bio]="user.bio"
        [contact]="user.contact"
        [real_name]="user.real_name"
    ></app-profile-section>
    <hr />
    <app-email-section></app-email-section>
    <hr />
    <app-password-section></app-password-section>
    <hr />
    <app-delete-section></app-delete-section>
    <app-confirm-window
        *ngIf="confirmWindow$ | async as settings"
        [settings]="settings"
        (close)="closeConfirmWindow()"
    ></app-confirm-window>
</div>
