hr {
    margin: 10px 24px;
}
section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
}
.block {
    flex: 1;
    padding: 12px;
    min-width: 260px;

    &-description {
        margin: 10px 0px 20px;
        line-height: 1.4;
        font-size: 0.9rem;
    }
}
.page {
    width: 100%;
    max-width: 800px;
    margin: 10px auto 40px;
}
@media screen and (max-width: 480px) {
    hr {
        margin: 14px 24px 8px;
    }
    section {
        padding: 0px 12px;
    }
}
