<div *ngIf="user" class="settings">
    <div class="section">
        <div class="block">
            <h3>Update avatar</h3>
            <p class="block-description">
                You can upload your photo or any other image you like. It will
                help distinguish you from other users, by appearing near all
                your publications and comments.
            </p>
            <button
                type="submit"
                class="btn btn-filled btn-secondary"
                [disabled]="
                    pickerService.croppedImagesSrc.length <
                        croppedAvatarSizes.length || submitted
                "
                (click)="saveAvatar()"
            >
                Save new avatar
            </button>
        </div>
        <div class="block block-avatar">
            <div [class.user-avatar]="!pickerService.showCropper">
                <app-img-picker
                    cropperAriaShape="rounded"
                    [croppedSizes]="croppedAvatarSizes"
                    [src]="user.avatar || '../../../../assets/avatar.jpg'"
                ></app-img-picker>
            </div>
            <div class="buttons">
                <button
                    class="btn btn-filled btn-danger"
                    type="button"
                    [disabled]="
                        !pickerService.showCropper &&
                        !pickerService.showNewImage
                    "
                    (click)="pickerService.resetImage()"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-filled btn-neutral"
                    type="button"
                    (click)="pickerService.triggerFileUploadInput()"
                >
                    Upload
                </button>
                <button
                    class="btn btn-filled btn-secondary"
                    type="button"
                    [disabled]="!pickerService.showCropper"
                    (click)="pickerService.submitCroppedImage()"
                >
                    Submit
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="section">
        <div class="block">
            <h3>Write about yourself</h3>
            <p class="block-description">
                Let people know who you are and what you do. If you would like
                to live a contact to you - there is a place for it. Note, these
                are just recommendations, don't hold back your creativity.
            </p>
            <button
                class="btn btn-filled btn-secondary"
                type="submit"
                [disabled]="
                    !profileDataChanged || profileDataForm.invalid || submitted
                "
                (click)="saveProfileData()"
            >
                Save changes
            </button>
        </div>
        <form [formGroup]="profileDataForm" class="block">
            <div class="form-control">
                <label for="name">Name</label>
                <input
                    id="name"
                    type="text"
                    maxlength="30"
                    autocomplete="off"
                    formControlName="name"
                />
            </div>
            <div class="form-control">
                <label for="website">Website</label>
                <input
                    id="website"
                    type="text"
                    maxlength="30"
                    autocomplete="off"
                    formControlName="website"
                />
            </div>
            <div class="form-control">
                <label for="bio">Short bio</label>
                <textarea
                    id="bio"
                    class="bio"
                    maxlength="150"
                    autocomplete="off"
                    formControlName="bio"
                    >{{ profileDataForm.get("bio").value }}</textarea
                >
                <small class="hint characters-left">
                    {{ 150 - profileDataForm.get("bio").value.length }}
                </small>
            </div>
        </form>
    </div>
    <hr />
    <div class="section">
        <div class="block">
            <h3>Change email</h3>
            <p class="block-description">
                This email is not public, you will use it to sign in. Simple
                yourname@kolomiichuk.info would be a great, neutral choice.
            </p>
            <button
                type="submit"
                class="btn btn-filled btn-secondary"
                [disabled]="emailForm.invalid || submitted"
                (click)="saveEmail()"
            >
                Save new email
            </button>
        </div>
        <form [formGroup]="emailForm" class="block">
            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        emailForm.get('email').touched &&
                        emailForm.get('email').invalid
                }"
            >
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    maxlength="30"
                    formControlName="email"
                />
                <div
                    *ngIf="
                        emailForm.get('email').touched &&
                        emailForm.get('email').invalid
                    "
                    class="validation"
                >
                    <small *ngIf="emailForm.get('email').errors.required">
                        Field is required
                    </small>
                    <small *ngIf="emailForm.get('email').errors.isEmail">
                        Invalid email
                    </small>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div class="section">
        <div class="block">
            <h3>Change password</h3>
            <p class="block-description">
                Special charecters, digits and letters with different case will
                make your password stronger.
            </p>
            <button
                type="submit"
                class="btn btn-filled btn-secondary"
                [disabled]="passwordForm.invalid || submitted"
                (click)="savePassword()"
            >
                Save new password
            </button>
        </div>
        <form [formGroup]="passwordForm" class="block">
            <div
                class="form-control password"
                [ngClass]="{
                    invalid:
                        passwordForm.get('password').touched &&
                        passwordForm.get('password').invalid
                }"
            >
                <label for="password">Old password</label>
                <input
                    id="password"
                    type="{{ showPassword ? 'text' : 'password' }}"
                    maxlength="30"
                    formControlName="password"
                />
                <i
                    class="material-icons-outlined"
                    (click)="showHidePassword('showPassword')"
                >
                    {{ showPassword ? "visibility_off" : "visibility" }}
                </i>
                <div
                    *ngIf="
                        passwordForm.get('password').touched &&
                        passwordForm.get('password').invalid
                    "
                    class="validation"
                >
                    <small *ngIf="passwordForm.get('password').errors.required">
                        Field is required
                    </small>
                    <small
                        *ngIf="passwordForm.get('password').errors.minlength"
                    >
                        {{ onMinLengthError("password") }}
                    </small>
                </div>
            </div>
            <div
                class="form-control password"
                [ngClass]="{
                    invalid:
                        passwordForm.get('confirmPass').touched &&
                        passwordForm.get('confirmPass').invalid
                }"
            >
                <label for="confirmPass">New password</label>
                <input
                    id="confirmPass"
                    type="{{ showConfirmPassword ? 'text' : 'password' }}"
                    maxlength="30"
                    formControlName="confirmPass"
                />
                <i
                    class="material-icons-outlined"
                    (click)="showHidePassword('showConfirmPassword')"
                >
                    {{ showConfirmPassword ? "visibility_off" : "visibility" }}
                </i>
                <div
                    *ngIf="
                        passwordForm.get('confirmPass').touched &&
                        passwordForm.get('confirmPass').invalid
                    "
                    class="validation"
                >
                    <small
                        *ngIf="passwordForm.get('confirmPass').errors.required"
                    >
                        Field is required
                    </small>
                    <small
                        *ngIf="passwordForm.get('confirmPass').errors.minlength"
                    >
                        {{ onMinLengthError("confirmPass") }}
                    </small>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div class="section">
        <div class="block">
            <h3>Delete account</h3>
            <p class="block-description">
                After pressing on this button, your account and all your
                publications will be deleted. Do you really want it?
            </p>
        </div>
        <div class="block">
            <button
                type="button"
                class="btn btn-filled btn-danger"
                (click)="deleteAccount()"
            >
                Delete account
            </button>
        </div>
    </div>
</div>
<app-confirm-window
    *ngIf="deleteWindow"
    [settings]="deleteWindow"
    (closeWindow)="closeDeleteWindow()"
></app-confirm-window>
