hr {
    margin: 10px 24px;
}

.block {
    width: 100%;
    max-width: 400px;
    padding: 24px;

    p {
        font-size: 0.9rem;
    }
}

.section {
    display: flex;
    width: 100%;
}

.settings {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
