<div *ngIf="plan.link; else demo" class="publication-card">
    <div *ngIf="showPopupMenu" class="popup-menu">
        <ul class="popup-menu-list">
            <li class="popup-menu-item" (click)="copyLink()">
                <i class="material-icons popup-menu-item-link-icon md-18"
                    >link</i
                >
                <span class="popup-menu-item-title">Copy link</span>
            </li>
            <li class="popup-menu-item" (click)="navigateToComments()">
                <i
                    class="material-icons material-icons-outlined popup-menu-item-comment-icon md-18"
                    >mode_comment</i
                >
                <span class="popup-menu-item-title">Read comments</span>
            </li>
        </ul>
        <div class="popup-menu-backdrop" (click)="handlePopupMenu()"></div>
    </div>
    <div class="header">
        <a [routerLink]="['/author', plan.author]" class="header-author">
            <div class="image-wrapper">
                <img
                    [src]="plan.authorAv || '../../../../assets/avatar.jpg'"
                    alt="Author's avatar"
                />
            </div>
            <span>{{ plan.author }}</span>
        </a>
        <i class="material-icons" (click)="handlePopupMenu()">more_vert</i>
    </div>
    <a class="body" [routerLink]="['/publication', plan.link]">
        <img
            [src]="plan.poster || '../../../../assets/article_poster.jpg'"
            alt="Plan poster"
        />
        <p title="{{ plan.title }}">{{ plan.title }}</p>
    </a>
    <div class="meta">
        <span class="date">
            {{ plan.created | date: "MMMM d, y" }}
        </span>
        <span
            class="action"
            tabindex="0"
            (click)="saveArticle()"
            (keyup.enter)="saveArticle()"
        >
            <i class="material-icons">
                {{ isSaved ? "bookmark" : "bookmark_border" }}
            </i>
        </span>
    </div>
    <div *ngIf="isAuthor" class="buttons">
        <button
            *ngIf="!plan.published; else hide"
            class="btn btn-outlined btn-secondary"
            (click)="publishArticle(true)"
        >
            Publish
        </button>
        <ng-template #hide>
            <button
                class="btn btn-outlined btn-neutral"
                (click)="publishArticle(false)"
            >
                Hide
            </button>
        </ng-template>
        <button class="btn btn-outlined btn-neutral" (click)="editArticle()">
            Edit
        </button>
        <button class="btn btn-outlined btn-danger" (click)="deleteArticle()">
            Delete
        </button>
    </div>
    <span *ngIf="markUpdated && plan.modified" class="label">Updated</span>
</div>
<ng-template #demo>
    <div class="publication-card demo">
        <div class="header">
            <a class="header-author">
                <div class="image-wrapper">
                    <img
                        [src]="plan.authorAv || '../../../../assets/avatar.jpg'"
                        alt="Author's avatar"
                    />
                </div>
                <span>{{ plan.author }}</span>
            </a>
            <i class="material-icons">more_vert</i>
        </div>
        <app-img-picker
            class="front-picture"
            [cropperAspectRatio]="croppedImageRatio"
            [croppedSizes]="croppedImageSize"
            [src]="plan.poster || '../../../../assets/article_poster.jpg'"
        ></app-img-picker>
        <p title="{{ plan.title }}">{{ plan.title }}</p>
        <div class="meta">
            <span class="date">{{ plan.created | date: "MMMM d, y" }}</span>
            <span class="action">
                <i class="material-icons">bookmark_border</i>
            </span>
        </div>
    </div>
</ng-template>
<app-confirm-window
    *ngIf="window"
    [settings]="window"
    (onClose)="closeConfirmWindow()"
></app-confirm-window>
