<div *ngIf="plan.link; else demo" class="card">
    <div class="header">
        <div [routerLink]="['/author', plan.author]">
            <div class="image-wrapper">
                <img [src]="plan.authorAv || '../../../../assets/avatar.jpg'" alt="Author's avatar">
            </div>
            <span>{{plan.author}}</span>
        </div>
        <i>link</i>
    </div>
    <a [routerLink]="['/plan', plan.link]">
        <img [src]="plan.poster || '../../../../assets/avatar.jpg'" alt="Plan poster">
        <p>{{plan.title}}</p>
    </a>
    <div class="meta">
        <i (click)="onLike()">{{user.liked.includes(plan.link) ? 'L[x]' : 'L[]'}} {{plan.likes || 0}}</i>
        <i (click)="onDislike()">{{user.disliked.includes(plan.link) ? 'D[x]' : 'D[]'}} {{plan.dislikes || 0}}</i>
        <i (click)="onOpenComments()">C {{plan.comments || 0}}</i>
        <i (click)="onSave()">{{user.saved.includes(plan.link) ? '[x]' : '[]'}}</i>
    </div>
    <div *ngIf="isAuthor" class="buttons">
        <button *ngIf="!plan.published; else hide" (click)="onPublish(true)">Publish</button>
        <ng-template #hide>
            <button (click)="onPublish(false)">Hide</button>
        </ng-template>
        <button (click)="onEdit()">Edit</button>
        <button (click)="onDelete()">Delete</button>
    </div>
</div>
<ng-template #demo>
    <div class="card">
        <div class="header">
            <div>
                <div class="image-wrapper">
                    <img [src]="plan.authorAv || '../../../../assets/avatar.jpg'" alt="Author's avatar">
                </div>
                <span>{{plan.author}}</span>
            </div>
            <i>link</i>
        </div>
        <img [src]="plan.poster || '../../../../assets/avatar.jpg'" alt="Plan poster">
        <p>{{plan.title}}</p>
        <div class="meta">
            <i>L 0</i>
            <i>D 0</i>
            <i>C 0</i>
            <i>[]</i>
        </div>
    </div>
</ng-template>
<app-confirm-window
    *ngIf="window"
    [settings]="window"
    (closeWindow)="onCloseWindow($event)"
></app-confirm-window>
