section {
    width: 94%;
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
}

.text {
    white-space: pre-line;
}
