.container {
    width: 280px;

    button {
        width: 100%;
        padding: 12px;
    }
}

.original-image-wrapper {
    width: 280px;
    height: 280px;

    img {
        width: 280px;
        height: 280px;
    }
}
