<div class="filters">
    <form [formGroup]="form">
        <div class="filter" [class.selected]="form.get('continent').value">
            <label for="continent">Main continent</label>
            <select id="continent" formControlName="continent">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.continent.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div class="filter" [class.selected]="form.get('country').value !== ''">
            <label for="country">Main country</label>
            <select id="country" formControlName="country">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.country.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div class="filter" [class.selected]="form.get('city').value !== ''">
            <label for="city">Main city:</label>
            <input
                id="city"
                type="text"
                maxlength="30"
                autocomplete="off"
                formControlName="city"
            />
        </div>
        <div
            class="filter"
            [class.selected]="form.get('duration').value !== ''"
        >
            <label for="duration">Trip duration:</label>
            <select id="duration" formControlName="duration">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.duration.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div
            class="filter"
            [class.selected]="form.get('amountCountries').value !== ''"
        >
            <label for="amountCountries">Amount of countries:</label>
            <select id="amountCountries" formControlName="amountCountries">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.amountCountries.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div
            class="filter"
            [class.selected]="form.get('amountCities').value !== ''"
        >
            <label for="amountCities">Amount of cities:</label>
            <select id="amountCities" formControlName="amountCities">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.amountCities.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div class="filter" [class.selected]="form.get('people').value !== ''">
            <label for="people">Amount of people:</label>
            <select id="people" formControlName="people">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.people.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
        <div class="filter" [class.selected]="form.get('budget').value !== ''">
            <label for="budget">Budget for one person:</label>
            <select id="budget" formControlName="budget">
                <option value=""></option>
                <option
                    *ngFor="let option of searchSelects.budget.options"
                    [value]="option.value"
                >
                    {{ option.title }}
                </option>
            </select>
        </div>
    </form>
</div>
