<div class="window-backdrop" (click)="cancel()">
    <div class="window">
        <i class="window-close-icon material-icons" (click)="cancel()">close</i>
        <p class="window-message">{{ settings.message }}</p>
        <div class="window-buttons">
            <button
                class="btn btn-filled btn-neutral"
                type="button"
                (click)="cancel()"
            >
                Cancel
            </button>
            <button
                class="btn btn-filled btn-danger"
                type="button"
                (click)="confirm()"
            >
                {{ settings.confirmBtnText }}
            </button>
        </div>
    </div>
</div>
