@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.file-input {
    display: none;
}

.form-control {
    label, input {
        display: block;
    }
}

.quill {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
